/* https://coolors.co/2c302e-474a48-909590-9ae19d-537a5a */
@media screen and (prefers-color-scheme: light) {
  :root {
    --primary: #2C302E;
    --secondary: #474A48;
    --tertiary: #909590;
    --green1: #537A5A;
    --green2: #9AE19D;
  }
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --primary: #909590;
    --secondary: #474A48;
    --tertiary: #2C302E;
    --green1: #9AE19D;
    --green2: #537A5A;
  }
}

html {
  font-family: "Arial", "Helvetica", "Verdana", "sans-serif";
  background-color: var(--tertiary);
  color: var(--green1);
  box-sizing: border-box;
  margin: 5px;
}

.material-icons-sharp {
  background-color: var(--green2); 
  border: none;
  color: white;
  padding: 0;
  margin: 0;
}

.material-icons-sharp:hover {
  background-color: var(--tertiary); 
  transition-duration: 0.8s;
  color: var(--secondary);
}

::-webkit-scrollbar {
  background-color: var(--tertiary);
  color: black;
}

 ::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #232624;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.header {
  flex-direction: row;
  display: flex;
  margin-bottom: 50px;
}

.header>div>img {
  width:300px;
}

#prompt {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.btn {
  background-color:var(--green2); 
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btn:hover {
  background-color: var(--green1); 
  transition-duration: 0.8s;
  color: var(--secondary);
}

#TextToSend, #hostInput {
  background-color: var(--primary);
  margin: 20px 0px;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.chatbox {
  width: 50%;
  height: 300px;
  overflow: auto;
  /* background-color: #232624; */
}

.chatbox:hover {
  overflow: auto;
}

.chatbox>div {
  padding: 10px;
  margin: 15px;
  max-width: 50%;
  display: inline-block;
  clear: both;
}

.user {
  background-color: var(--green2);
  color: white;
  float: right;
}

.robart {
  background-color: var(--green1);
  color: #474A48;
  float: left;
}

#inputBar {
  align-items: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* background-color: #232624; */
  width: 50%;
}

#inputBar>input {

}

#playerDiv {
  height: 50%;
}
